.navbar-custom {
  background-color: #9CB3F6;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
}

.navbar-inner {
  height: 100%;
  padding: 0px;
}

.nav-tabs-custom .tab {
  background-color: transparent;
  border: none;
  text-decoration: none;
  margin-top: 8px;
  height: 48px;
  display: flex;
  align-items: start;
  padding: 10px 20px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
  transition: all 0.2s ease;
  color: #333;
}

.nav-tabs-custom .tab.active {
  background-color: #ffffff;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.08);
  font-weight: 600;
}
.nav-tabs-custom .tab:not(.active) {
  background-color: #eee; /* light gray for inactive tabs */
}

.nav-tabs-custom .tab:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.user-info .fw-bold {
  font-size: 14px;
}

.user-info .text-muted {
  font-size: 12px;
  color: #f0f0f0;
}

.user-info img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}
.btn.dropdown-toggle::after,
.btn.btn-link.dropdown-toggle::after {
  display: none !important;
  content: none !important;
}

#sidebar {
  position: fixed;
  top: 60px;
  left: -300px; /* initially hidden */
  width: 260px;
  height: calc(100% - 60px);
  background-color: #f1f4ff;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  transition: left 0.3s ease;
  z-index: 1050;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

#sidebar.active {
  left: 0;
}

#sidebar a {
  display: block;
  margin-bottom: 18px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

#sidebar a:hover {
  color: #2f5be7;
}
